h1 {
    size: 65px; color: orange; font-family: sans-serif;
}

#color-list {
    background-color: aqua;
}

.color-class {
    background-color: brown;
}

#paragrafo {
    color: white; font-weight: 600;
}

body {
    font-size: 16px;
}

#paragrafo {
    font-size: 3em;
}